body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(59, 88, 59);
  color: rgba(44, 44, 44, 0.842); 
  border: 12px solid rgb(113, 46, 46);
  border-radius: 10px;   /* Rounds the border corners */
  height: 94vb;   /* ##vb = ##-percent of the webpage's height */
  width:  97vi;   /* ##vi = ##-percent of the webpage's width */
}

a {
  font-size: 20px; /* Size of links */
}

.front-page {
  display: flex;
  flex-direction: column;
  font-family: 'Gill Sans', 'Noto Sans', sans-serif;
  text-align: center;
  font-style: italic;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.header-1 {
  font-size: 40px;
  border: 15px solid;
  border-style: double;
  padding: 1%;
}

.header-2 {
  font-size: 25px;
  border: 8px solid;
  margin-left: 30%;
  margin-right: 30%;
}

.link {
  display: flex;
  flex-direction: column;
  border: 5px solid;
  margin-left: 40%;
  margin-right: 40%;
}

.header-1,
.header-2,
.link {
  background-color: peachpuff;
  border-color: rgb(113, 46, 46);
}

.front-page,
.header-1,
.header-2,
.link {
  border-radius: 15px;
}