/*
Author: Yaritza Yanez
Course: WebDevelopment
Assignment: Project 1 Zoo
Task: Create a zoo with 4 animals using html and css
*/

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: silver;
    text-align: center;
  }

img {
    width: 700px;
    height: 400px;
    object-fit: cover;
  }