body {
    background-color: rgb(142, 5, 180);
    text-align: center;
    padding: 50px;
    height: 100vh;
    display: flex;
    align-items: center;
  }
  
  h1 {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #f4fc09;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    line-height: 1.1;
  }
  
  
  p {
    font-size: 20px;
    line-height: 1.6;
    color: #f4fc09;
  }
  

  
  figcaption {
    font-size: 20px;
    color: #f4fc09;
    margin-top: 10px;
  }

  .back-to-home {
    position: absolute;
    top: 10%;
    left: 40%;
}

  .back-to-home a {
    padding: 20px 40px;
    background-color: #007BFF;
    color: white;
    font-size: 30px;
    border-radius: 5px; 
  }